textarea {
    min-height: 400px;
}

.mail-div {
    display: flex;
    justify-content: space-between;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #a7a6a6;
    padding: 10px;
    padding-bottom: 0px;
    cursor: pointer; 
    margin-bottom: 2px;
}

.mail-view-div {
    display: block;
}

.mail-div-items {
    display: inline-block;
}

.mail-div-read {
    background-color: #ebeef2;
}

.mail-div-unread {
    background-color: rgb(255, 255, 255);  
}

.btn-div {
    margin-bottom: 10px;
}

.btn-div.items {
    display: inline-block;
}